body {
    font-family:Verdana;
}


body {
    margin:0;
    padding:0;
    width:100%;
}

h1 {
    background-color: #d3d3d3;
    width:auto;
    display:block;
    padding:10px;
    margin:0;
}

form {
    padding:20px;
}

p {
    margin-left:20px;
}

.section {
    margin-bottom: 50px;
}

.navigation {
    padding:10px;
    background-color:#d3d3d3;
}

.navigation a {
    text-decoration:none;
    margin-right:20px;
}

.js-output {
    font-family: "Courier New";
    width: 600px;
}

.table {
    margin-left:20px;

    border: solid 4px #778899;
    padding: 0;
    background-color: #eeeeee;
    height:auto;
    overflow:hidden;
    width:100%;
}

.table-header {
    width: 100%;
    background-color: #add8e6;
    font-weight:bold;
}

.table-row {
    clear: both;
}

.column-header {
    float: left;
    padding: 10px;
    background-color: #add8e6;
    width:46.8%;
}

.table-cell {
    float: left;
    padding: 10px;
    width:46.8%;
}

